.title {
    margin: 12px 19px 12px 15px;
}

.title h1 {
    font-family: 'Open Sans';
    font-size: 24px;
    letter-spacing: -0.015em;
}

@media(min-width: 1024px){
    .title {
        margin: 40px;
    }

    .title h1 {
        font-size: 48px;
    }
}