.home-container {
    padding: 0;
    margin: 0;
}

.home-card {
    display: none;
}



@media(min-width: 1024px) {
    .home-container {
        display: flex;
        justify-content: center;
        padding: 0 105px 0 97px;
    }
    .home-card {
        margin: 81px 75px 0 0;
        display: flex;
        flex-direction: column;
    }

    .home-content-container {
        margin-left: 27px;
        width: 320px;
    }
    
    .home-content-container h1 {
        font-size: 48px;
    }
    
    .home-content-container p {
        font-size: 22px;
        letter-spacing: -0.015em;
        color: #F2F2F2;
        margin: 19px 0 50px;
    }
}